
<nav class="navbar navbar-center">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Portfolio
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="https://nhamthanh.github.io/SPIDER-Mockup/login">Spider Mockup</a></li>
          <li><a href="https://nhamthanh.github.io/ShopFB/">Firebase</a></li>
        </ul>
      </div>
    </div>
  </div>  
</nav>