<div class="story story-container">
  <h1>Create a free website with angular and github pages</h1>
  <div class="story-meta">
    <div class="date">
        September 6th 2019
    </div>
  </div>
  <div class="content" v-pre="">
    <div class="paragraph">
      You can host a free website, blog create by your self with github pages and angular framework.
      Angular framework make your code more easier to maintain, support you with fontend library, third party library, theme ...
      If you don't want to use angular, just create a simple html website.
      Github is your repository where you can store your code and deploy your website with github pages.
      In this content, I will show you how to create a static web with angular and deploy your website.
    </div>
    <div class="paragraph">
      <strong>Environment</strong>
    </div>
    <ol>
      <li>Register an account in github <a href="https://github.com/">https://github.com/</a></li>
      <li>Install Node.js and npm in <a href="https://nodejs.org/en/download/">https://nodejs.org/en/download/</a>. This is environment to run and build angular framework</li>
      <li>Install angular-cli for npm <a href="https://cli.angular.io/">https://cli.angular.io/</a>. This is collection of angular command</li>
      <li>Download an IDE to coding Ex: <a href="https://code.visualstudio.com/download">https://code.visualstudio.com/download</a></li>
    </ol>
    <div class="paragraph">
      <strong>Create angular project</strong>
    </div>
    <ol>
      <li><pre>ng new &lt project name &gt</pre> in cmd to create your project</li>
      <li><pre>ng server</pre> in cmd and test your website in localhost page <a href="http://localhost:4200/">http://localhost:4200/</a>. It is default port for angular project</li>
    </ol>
    <div class="paragraph">
      <strong>Connect to github</strong>
    </div>
    <ol>
      <li>In <a href="https://github.com/">https://github.com/</a>, create your repository, it is usually same with project name.</li>
      <li>Go to code tab and follow the step  …or push an existing repository from the command line </li>
      <li>Run cmd in your porject folder and run the command. Then your code have been pushed to github respository.</li>
    </ol>
    <div class="paragraph">
      <strong>Deploy your free website with githubs pages</strong>
    </div>
    <ol>
      <li>install angular-cli-ghpages to help you do that in <a href="https://alligator.io/angular/deploying-angular-app-github-pages/">https://alligator.io/angular/deploying-angular-app-github-pages/</a></li>
      <li><pre>ng build --prod --base-href "https://&lt;user-name&gt;.github.io/&lt;repo&gt;/"</pre> This will build angular project into html, javascript in dist folder (you should move content inside project folder in dist to outside)</li>
      <li>ngh</li>
      <li>open website https://&lt;user-name&gt;.github.io/&lt;repo&gt;/ your can see your website.</li>
    </ol>
    <div class="paragraph">
      <strong>Next</strong>
    </div>
    <div class="paragraph">
      Next section, we will discuss about how to create a free dynamic website and free database also. Thank for reading.
    </div>
    <div class="paragraph">
      <strong>Video</strong>
    </div>
    <iframe width="420" height="315"
      src="https://www.youtube.com/embed/RD3bhD2v7lU">
    </iframe>
    <div class="paragraph">
      <strong>Relates</strong>
    </div>
    <ol>
      <li><a routerLink="/database" routerLinkActive="active">CRUD with Angular and Firebase</a></li>
      <li><a routerLink="/java" routerLinkActive="active">Depoly backend API with spring boot on heroku</a></li>
    </ol>
  </div>   
</div>
